<style type = "text/css">
    nav{
        margin-top: 56px;
        margin-left: 50%;
    }

    .topnav a{
        color: #fff;
        text-align: center;
        padding: 12px 25px;
        font-size: 20px;
        font-weight: 300;
    }

    .topnav a:hover{
        border-bottom: 3px double #8B0000;
    }

</style>
<nav>
    <div class ="topnav" id ="topnav1">
        <a href = "/home">HOME</a>
        <a href = "/auth">Log in</a>
        <a href = "/register">Register</a>
        <a href = "/logout">Log out</a>
    </div>
</nav>